<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.CommentMapper">


	<select id="list" resultType="Comment">
		SELECT *
		FROM comment
		WHERE board_no = #{boardNo}
	</select>

	<insert id="insert" parameterType="Comment">
		INSERT INTO comment
		(
			board_no,
			content,
			wrtier
		)
		VALUES
		(
			#{boardNo},
			#{content},
			#{wrtier}
		)
	</insert>

	<update id="update" parameterType="Comment">
		UPDATE comment
		SET content = #{content}
		WHERE comment_id = #{commentId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE
		FROM comment
		WHERE comment_id = #{commentId}
	</delete>



</mapper>