<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.sccMapper">

    <select id="list" resultType="scc_info">
		<![CDATA[
	 	SELECT *
	 	  FROM scc_info
	 	 WHERE SCC_NUM > 0
	  	 ORDER BY SCC_NUM ASC
		 LIMIT #{pageStart}, #{sizePerPage}
		]]>
	</select>

    <select id="count" resultType="int">
		<![CDATA[
	 	SELECT count(SCC_NUM)
		  FROM scc_info
		 WHERE SCC_NUM > 0
		]]>
	</select>

</mapper>
